<div class="container spacer">
<div class="panel panel-default">
<div class="panel-heading"> Saisie d'un contact </div>
<div calss="panel-body">

    <form #f="ngForm" (ngSubmit)="onSaveContact(f.value)">

        <div class="form-group">
    
            <label class="control-label">Designation</label>
            <input #designation="ngModel" class="form-control" type="text" ngModel name="designation" required/>
            
                </div>
    
                <div class="form-group">
    
                    <label class="control-label">Prix</label>
                    <input class="form-control" type="number" ngModel name="prix" required/>
                    
                        </div>
    
                        <div class="form-group">
    
                            <label class="control-label">Date</label>
                            <input class="form-control" type="date" ngModel name="date" required/>
                            
                                </div>
    
            <button [disabled]="!f.valid" type="submit" class="btn btn-primary">Save</button>
    
    </form>
    

</div>
</div>

</div>
