.demo-tab-group {
    border: 1px solid #e8e8e8;
  }

  .demo-tab-content {
    padding: 16px;
  }

  .texte{
      text-align: center;
      font-weight:bold;
  }

  .input_Style{
    margin: auto;
    text-align: center;
    width:500px;
  }
